.footer {
  padding: 60px 0;
  background-color: $secondary-bcg-color;
}

.footer-container {
  display: block;
  text-align: center;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: baseline;
  }

  @media screen and (min-width: 1200px) {
    justify-content: space-between;
    text-align: left;
  }
}

.company-address {
  display: inline-block;
  width: 232px;

  @media screen and (min-width: 1200px) {
    margin-right: 70px;
  }
}

.company-address__logo {
  color: $primary-white-color;
}

.company-address__container {
  margin-top: 20px;
}

.company-address__list {
  @extend %list;
}

.company-address__item:not(:last-child) {
  margin-bottom: 8px;
}

.company-address__link {
  @extend %link;

  display: inline-block;
  color: $footer-contact-color;
  transition: color $transition-duration;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.company-address__link--location {
  color: $primary-white-color;
}

.company-socials__heading {
  display: block;
  margin-bottom: 20px;
  color: $primary-white-color;
  text-transform: uppercase;
  line-height: 1.17;
  font-size: inherit;
  font-weight: 700;
}

.company-socials--footer {
  @media screen and (max-width: 767.98px) {
    padding: 60px 0;
  }

  @media screen and (min-width: 768px) and (max-width: 1199.98px) {
    display: inline-block;
    margin-left: auto;
  }
}