.teams {
  @extend %section-padding;
  
  background-color: $primary-bcg-color;

  @media screen and (max-width: 1199.98px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.teams__heading {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.16;
  text-align: center;
  color: $title-text-color;
  margin-bottom: 30px;

  @media screen and (min-width: 1200px) {
    font-size: 36px;
    margin-bottom: 50px;
  }
}

.member {
  @extend %list;

  @media screen and (min-width: 768px) and (max-width: 1199.98px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    flex-wrap: wrap;
  }
}

.member__card {
  background-color: $primary-white-color;
  box-shadow: $team-member-shadow;
  border-radius: 0px 0px 4px 4px;
  text-align: center;
  width: 270px;

  @media screen and (max-width: 767.98px) {
    width: 100%;
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1199.98px) {
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc((100% - 30px * 2) / 2);
  }

  @media screen and (min-width: 1200px) {
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.member__info {
  padding: 30px 0 24px 0;

  @media screen and (min-width: 1200px) {
    padding: 30px 0;
  }
}

.member__name {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: $title-text-color;
  margin-bottom: 10px;
}

.member__position {
  text-align: center;
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 16px;
}